# -----------------------------------------------------------------------------------
#                                 .htaccess website
# -----------------------------------------------------------------------------------

# -----------------------------------------------------------------------------------
# -----------------------------------------------------------------------------------
#                                 .html url
# -----------------------------------------------------------------------------------
RewriteEngine on

# does not apply to existing directories, mmeaning that if the folder exists on the server then don't chamge anything and don't run the Rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extensions

RewriteCond %{REQUEST_FILENAME}/.html -f
 
# Here we actually show the page that the .html extensions

RewriteRule ^([^\.]+)$ $1.html [NC,L]

# -----------------------------------------------------------------------------------
#                                 Security
# -----------------------------------------------------------------------------------

# --------------------------- prevenir acceso a los archivos .htaccess --------------

<files .htaccess>

order allow,deny

deny from all

</files>

# ------------------------------ evita el hotlink -----------------------------------

# RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$

RewriteCond %{HTTP_REFERER} !^http://(www\.)?alejandromira\.com/.*$ [NC]

RewriteRule .*\.(jpg|gif|bmp|png|mp4)$ [L]


# -----------------------------------------------------------------------------------
#                                 charge images
# -----------------------------------------------------------------------------------

# Cache de imágenes en el navegador durante un mes

<FilesMatch "\.(ico|jpg|jpeg|png|gif)$">

Header set Cache-Control "max-age=2592000, public"

</FilesMatch>