/* ------------------------------------- */
/*             GENERAL CSS               */
/* ------------------------------------- */

/* Colors */
:root {
  --primary: #d4aa70;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;

  scrollbar-color: var(--primary) #e4e4e4;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 50px;
}

/* ------------------------------------- */
/*               Sections                */
/* ------------------------------------- */

#home,
#contact {
  height: 100vh;
}

/* ------------------------------------- */
/* Titles */
/* ------------------------------------- */

.resultTitle {
  color: var(--primary);
}

/* ------------------------------------- */
/*               Home                    */
/* ------------------------------------- */

.hero {
  background: url(../media/img/fondoHero.jpg) no-repeat;
  background-size: cover;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity: 0.9;
}

i.home-fab:hover {
  color: #ffca84;
}

/* ------------------------------------- */
/*               GRID                    */
/* ------------------------------------- */

.grid-item {
  float: left;
  width: 50vh;
  margin: 10px;
}

.grid {
  margin: 0 auto; /* centered */
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.tabs.projects li.is-active a {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.progress {
  color: var(--primary);
}


/* Contact Section */

#contact {
  background: url(../media/img/fondoContact.jpg) no-repeat;
  background-size: cover;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity: 0.9;
}

/* Btn contact section */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

/* Text Color */

.light-contact {
  color: #FEFEFE;
}