/* ------------------------------------- */
/*             GENERAL CSS               */
/* ------------------------------------- */

/* Colors */

:root {
  --primary: #d4aa70;
  --color-icon: #535c68;
  --github-icon: #333333;
  --linkedin-icon: #3b5999;
  --mail-icon: #de463b;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;

  scrollbar-color: var(--primary) #e4e4e4;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 50px;
}

/* ------------------------------------- */
/*               Sections                */
/* ------------------------------------- */

#home,
#contact {
  height: 100vh;
}

/* ------------------------------------- */
/* Titles */
/* ------------------------------------- */

.resultTitle {
  color: var(--primary);
}

/* ------------------------------------- */
/*               Home                    */
/* ------------------------------------- */

.hero {
  background: url(../img/fondoHero.jpg) no-repeat;
  background-size: cover;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity: 0.9;
}

/* ------------------------------------- */
/*            Home icons                 */
/* ------------------------------------- */

home-btn {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  z-index: -10;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--github-icon);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--linkedin-icon);
}

/* ------------------------------------- */
/*              About me                 */
/* ------------------------------------- */

.card-content-modal {
  border-radius: 5rem;
}


.spn, .eng {
  text-decoration: none;
  color: inherit;

  position: relative;
  margin: 2rem auto;
  padding: 1em 2em;
  transition: all 0.2s ease;
}
.spn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.eng:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(157, 183, 255, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.spn span, .eng span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.spn svg, .eng svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.spn:hover:before {
  width: 100%;
  background: #ffab9d;
}

.eng:hover:before {
  width: 100%;
  background: #9dc4ff;
}

.spn:hover svg, .eng:hover svg {
  transform: translateX(0);
}
.spn:active, .eng:active {
  transform: scale(0.96);
}



/* ------------------------------------- */
/*              Skills                   */
/* ------------------------------------- */

.progress.is-warning::-webkit-progress-value {
  background-color: var(--primary);
}

.progress.is-warning::-moz-progress-bar {
  background-color: var(--primary);
}

/* ------------------------------------- */
/*               GRID                    */
/* ------------------------------------- */
.grid {
  margin: 0 auto;
}

.grid-item {
  float: left;
  width: 25em;
  margin: 1rem;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.tabs.projects li.is-active a {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.progress {
  color: var(--primary);
}

/* ------------------------------------- */
/*          Contact Section              */
/* ------------------------------------- */

#contact {
  background-color: var(--color-icon);
  background: url(../img/fondoContact.jpg) no-repeat;
  background-size: cover;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity: 0.9;
}
/* Text Color */

.light-contact {
  color: #fefefe;
}

a.linkedin {
  color: var(--linkedin-icon);
}
a.github {
  color: var(--github-icon);
}
a.mail {
  color: var(--mail-icon);
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: var(--linkedin-icon);
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: var(--github-icon);
  color: #ffffff;
}

.wrapper .mail:hover,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
  background-color: var(--mail-icon);
  color: #ffffff;
}



/* ------------------------------------- */
/*              Mobile                   */
/* ------------------------------------- */
@media screen and (max-width: 400px) {
  .hide-mobile-min{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  
  /* About me - Mobile */

  #aboutMe div.container{
    text-align: justify;
  }

  /* Projects - Mobile */
  .grid {
    margin: 0;
  }

  .grid-item {
    float: left;
    width: 25em;
    margin: 5% 0 5% 0;
  }

  .tabs-mobile li li.is-active a{
    font-size: small;
  }

  /* Contact */

  #contact div.container, #home div.container {
    margin-top: 45%;
  }
}