/* ------------------------------------- */
/*             GENERAL CSS               */
/* ------------------------------------- */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;

  scrollbar-color: #D4AA70 #e4e4e4;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 50px;
}

#home {
  height: 100vh;
}

/* ------------------------------------- */
/* Titles */
/* ------------------------------------- */

.resultTitle{
  color: #D4AA70;
}

/* ------------------------------------- */
/*               Home                    */
/* ------------------------------------- */

.hero {
  background: url(../media/fondoHero.jpg) no-repeat;
  background-size: cover;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity: 0.9;
}

.title.is-1 {
    font-size: 5rem;
}

.title.is-2 {
    font-size: 3rem;
}

i.fab:hover  {
  color: #ffca84;
}

/* ------------------------------------- */
/*               GRID                    */
/* ------------------------------------- */

.grid-item {
  float: left;
  width: 400px;
  margin: 10px;
}

.grid {
  margin: 0 auto; /* centered */
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ------------------------------------- */
/*               GRID                    */
/* ------------------------------------- */
.tabs.projects li.is-active a {
  border: 1px solid #D4AA70;
  color: #D4AA70;
}